    
    
    @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
    body{
        font-family: Inconsolata, sans-serif;
        background-color: #f8fafd;
        padding: 40px;
    }
    
    h1{
        font-size: 36px;
        margin-bottom: 10px;
    }

    h2{
        font-size: 28px;
    }

    h3{
        margin-top: 5px;
    }

    .container{
        max-width: 1000px;
        margin: 0 auto;
    }

    .cv{
        border-color: black;
        border-style: solid;
        border-width: 10px;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    section{
        padding: 20px 40px;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px 40px 0px 40px;
    }

    header div:first-child {
        display: flex;
        justify-content: center;
    }

    .profile-picture{
        margin-bottom: 0px;
        width: 90%;
        max-width: 400px;
    }

    .media_container{
        display: flex;
        justify-content: left;
        padding-top: 20px;
    }

    .media{
        padding-right: 20px;
        width: 50px;
        height: 50px;
    }

    header div ul{
        list-style: none;
        font-style: normal;
        padding-left: 0px;
        margin-bottom: 0px;
    }

    li{
        margin-top: 15px;
    }

    p{
        line-height: 1.5;
    }