    @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
    
    .testing{
        height: 200px;
        background-color:rgb(255, 244, 185);
        margin-bottom: 20px!important;
    }

    #dark_mode{
        margin: 10px;
        border-radius: 0;
        border-color: black;
        background-color: transparent;
        font-family: Inconsolata, sans-serif;
        font-size: 20px;
    }

    #dark_mode:hover{
        background-color: black;
        color: rgb(255, 244, 185);
        
    }

    body{
        font-family: Inconsolata, sans-serif;
        background-color: #f8fafd;
        padding: 20px;
    }
    
    h1{
        font-size: 36px;
    }

    h2{
        font-size: 28px;
    }

    h3{
        margin-top: 5px;
    }

    li{
        margin-top: 15px;
    }

    p{
        line-height: 1.5;
    }

    .container{
        max-width: 1000px;
        margin: auto;
    }

    .cv{
        border-color: black;
        border-style: solid;
        border-width: 10px;
        padding: 30px 40px;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    header div:first-child {
        display: flex;
        justify-content: center;
    }

    .profile-picture{
        width: 90%;
        max-width: 400px;
        margin: 20px;
    }

    #billbyte_title, #personal_data, #media{
        margin: 20px;
    }

    #media{
        display: flex;
        justify-content: left;
    }

    #github, #linkedin, #twitter{
        padding-right: 20px;
        width: 50px;
        height: 50px;
    }

    header div ul{
        list-style: none;
        font-style: normal;
        padding-left: 0px;
        margin-bottom: 0px;
    }
    
    @media only screen and (max-width: 900px){
        .cv{
            padding: 20px;
        }
    }